In [3]:
#Scipt completo para criação de bd e tabela.
import sqlite3 #Import do pacote do SQLite.
df = sqlite3.connect('db.db') #Conectando no bando de dados 'BD', Caso o bd nao seja encontrado ele será criado.
cur = df.cursor() #Criando um cursor
sql_create = 'create table usuarios'\
'(ID integer primary key, '\
'Nick string, '\
'Senha string)' #Criando o objeto que contem o comando de criação da tabela usuarios e definindo as "colunas" da tabela.
cur.execute(sql_create) #Executando o objeto "sql_creat" para criar a tabela usuarios.
sql_insert = 'insert into Usuarios values (?,?,?)' #criando o padrão de inserção de dados.
users = [('1','Zankko','1234'), #criando o objeto users que contém os dados dos usuários a serem inseridos.
         ('2','Kayomaru','12345')]
for x in users: #Inserindo os dados da lista Users no BD.
    cur.execute(sql_insert, x)
df.commit #gravando a execução do comando Sql_insert.
sql_select = 'select * from usuarios' #Criação do objeto contendo o comando para selecionar todos os dados da tabela usuarios.
cur.execute(sql_select) #execução do objeto sql_select.
dados = cur.fetchall() #Gravando todos os dados da tabela no objeto dados.
for linha in dados: #comando para printar na tela todos os dados gravados no objeto dados .
    print('ID: %s\nUsuário: %s\nSenha: %s\n'%(linha))
df.close() #fechar conexão.

OperationalError: table usuarios already exists

In [6]:
#Sem o comando de criação de tabela 

import sqlite3 #Import do pacote do SQLite
df = sqlite3.connect('db.db') #Conectando no bando de dados 'BD'
cur = df.cursor() #Criando um cursor
sql_insert = 'insert into Usuarios values (?,?,?)' #criando o padrão de inserção de dados
users = [('1','Zankko','1234'), #criando o objeto users que contém os dados dos usuários a serem inseridos
         ('2','Kayomaru','12345')]
for x in users: #Inserindo os dados da lista Users no BD
    cur.execute(sql_insert, x)
df.commit #gravando a execução do comando Sql_insert
sql_select = 'select * from usuarios' #Criação do objeto contendo o comando para selecionar todos os dados da tabela usuarios
cur.execute(sql_select) #execução do objeto sql_select
dados = cur.fetchall() #Gravando todos os dados da tabela no objeto dados
for linha in dados: #comando para printar na tela todos os dados gravados no objeto dados 
    print('ID: %s\nUsuário: %s\nSenha: %s\n'%(linha))
df.close() #fechar conexão

ID: 1
Usuário: Zankko
Senha: 1234

ID: 2
Usuário: Kayomaru
Senha: 12345

In [65]:
import sqlite3
import datetime
import time
import random
import matplotlib.pyplot as plt
conn = sqlite3.connect('db.db')
cur = conn.cursor()
def criartab():
    cur.execute('CREATE TABLE IF NOT EXISTS gears(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, gear_usado STRING, Tier INTEGER)')
def solicitar():
    cur.execute("INSERT INTO gears VALUES('03/02/2021','CAMBRIANA','7.2')")
    conn.commit()
    cur.close
    conn.close
def solicitar1():
    novo_data = datetime.datetime.now()
    novo_set = input('Qual o set usado?')
    novo_tier = input('Qual o tier usado?')
    cur.execute("INSERT INTO gears (date, gear_usado, Tier) VALUES (?, ?, ?)", (novo_data, novo_set, novo_tier))
    conn.commit()
    conn.close()
def graficos():
    cur.execute("SELECT id, Tier FROM gears")
    ids = []
    tiers = []
    dados = cur.fetchall()
    for linha in dados:
        ids.append(linha[0])
        tiers.append(linha[1])
    plt.bar(tiers,ids)
    plt.show()

In [9]:
solicitar1()

Qual o set usado?soul syphe
Qual o tier usado?8

import pandas as pd
    data1 = ('Pasta1.xlsx', 'Planilha1')
    data3 = pd.read_excel(data1)
    data

In [17]:
import sqlite3
import pandas as pd
dfs = pd.read_excel('Pasta1.xlsx', sheet_name='Planilha1')
con = sqlite3.connect('db.db')
cur = con.cursor()
def criartab():
    cur.execute('CREATE TABLE IF NOT EXISTS importacao(nome STRING, exame STRING, codigo STRING PRIMARY KEY)')

In [18]:
criartab()

In [19]:
dfs.to_sql(name = 'importacao', con = con, if_exists = 'append', index = False)
con.commit()

IntegrityError: UNIQUE constraint failed: importacao.codigo

In [13]:
con.close()