In [72]:
import pandas as pd
lista = "Pasta1.csv"
df = pd.read_csv(lista)
lista2 = "pasta2.csv"
df2 = pd.read_csv(lista2)
df

      Nome   Exame  Codigo
0    André   Urina     123
1  Leticia  Sangue     321

In [66]:
df2

    Nome;Exame;Codigo
0     André;Urina;123
1  Leticia;Sangue;321
2      Ana;fezes;1234

In [30]:
for x in df
    if x

In [40]:
listona

In [41]:
list(listona)

[]

In [38]:
num = enumerate(df)
list(num)

[(0, 'Nome'), (1, ' Exame'), (2, ' Código')]

In [84]:
opa = df['Codigo']
opa.describe()

count      2.000000
mean     222.000000
std      140.007143
min      123.000000
25%      172.500000
50%      222.000000
75%      271.500000
max      321.000000
Name: Codigo, dtype: float64

In [93]:
def numdiv (x,y):
    res = x*y
    print('Resultado final da soma:',res)
numdiv(int(input('entre com x: ')), int(input('entre com y: ')))

entre com x: 5
entre com y: 6
Resultado final da soma: 30

In [118]:
try:
    res = lambda x, y : x*y
    print('O resultado final da operação é:',res(int(input('entre com x: ')), int(input('entre com y: '))))
except ValueError:
    print('Ce quer somar numero com letra ce é burro é?')

entre com x: 5
entre com y: 5
O resultado final da operação é: 25

In [ ]:
valid = False
def solicitaSenha():
    senha = input('Digite uma senha: ')
    senha2 = input('Confirme sua senha: ')
    return senha == senha2

while solicitaSenha() == False:
    print('As senhas não conferem, tente novamente')
else:
    print('Senha gravada com sucesso!')

Digite uma senha: 5
Confirme sua senha: 3
As senhas não conferem, tente novamente

In [209]:
Vali = lambda senha, senha2 : senha == senha2
    senha = input('Senha: ')
    senha2 = input('Confirme sua senha: ')

Digite uma senha: 5
Confirme sua senha: 3